h1 {
  text-align : center;
  padding :5px;
  border: 10px solid pink;
  margin: 10px;
}

img {
  width : 40%;
  float: left;
  margin-right: 15px;
}
h2 {
  height:10;
}
body{
  background-image: url("paisley.png");
} 
#clubs{
  width : 20%;
  margin-right: 10px;
}
.title{
  font-family:"Impact";
}

  
